---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Dr. Kees Benkendorfer"
  description="Kees Benkendorfer — personal website."
>
  <h1>Home</h1>
  <p>
    I'm currently an AlgoDev intern at Hudson River Trading, though in a (fairly recent) past life I was an experimental particle physicist working on the ATLAS experiment at CERN.
  </p>

  <p>This website is still a work in progress.</p>

  <p>
    Please visit the <a href="/contact">contact page</a> if you would like to get in touch.
  </p>
</BaseLayout>
